@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


html {background-color:black}

.App {
  background: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pic {
  width: 60px;
}

.prompt {
  font-size: 19px;
}

.App-body {
  font-family: 'Roboto';
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(8px + 1vmin);
  color: white;
  row-gap: 20px;
  border: 2px solid white;
  margin: auto;
  margin-top: 40px;
  padding: 60px 40px;
  display: inline-flex;
}


.App-prompt {
padding-left: 125px;
padding-right: 125px;
font-size: 20px;
border: 1px;
border-radius: 15px;
background-color: rgb(88, 88, 88);
}

.App-upload {
  padding: 25px;
  margin-top: 100px;
  margin-left: 450px;
  margin-right: 450px;
  border: 0px;
  border-radius: 25px
}

.App-title {
  color: darkgoldenrod;
  text-align: center;
  font-size: 60px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 50px;
}

.Logout {
  margin-top: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

