
html {background-color:black}

.App {
  background: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  font-family: 'Roboto';
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(8px + 1vmin);
  color: white;
  row-gap: 20px;
  margin-top: 30px;
  border: 2px solid white;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 50px;
  display:inline-flex;
}

.App-prompt {
padding-left: 125px;
padding-right: 125px;
font-size: larger;
border: 1px;
border-radius: 15px;
background-color: rgb(91, 91, 91);
}

.App-upload {
  padding: 25px;
  margin-top: 100px;
  margin-left: 450px;
  margin-right: 450px;
  border: 0px;
  border-radius: 25px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
