@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

html {background-color:black}

.App {
    background: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Login-body {
    display: inline-flex;
}

.wrapper {
    position: relative;
    width: 420px;
    height: 560px;
    background: transparent;
    background-color: black;
    border-radius: 40px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

form .input-box {
    position: relative;
    height: 40px;
    width: 100%;
    margin: 15px 0;
    background-color: #262626;
}

form button {
    width: 100px;
    height: 37px;
    background: #ffc000;
    border: none;
    outline: none;
    color: white;
}

.input-box input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

.input-box input::placeholder {
    color: white;
}

.check {
    width: 15px;
    position: absolute;
    bottom: 64%;
    left: 135px;
}

.input-box .Icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    color: white;
}

.App-title {
    color: #ffc000;
    text-align: center;
    font-size: 60px;
    font-family: "Carrois Gothic", system-ui;
    margin-top: 150px;
}

.Register {
    color: #ffc000;
    margin: 20px 0;
}

.Remember {
    color: #ffc000;
    margin: 20px 0;
}

.link {
    color: rgb(66, 151, 255);
    background-color: transparent;
    border: none;
}

.create {
    color: white;
    text-decoration: none;
    position: relative;
    left: 43%;
    top: 30px;
    font-weight: bold;
    font-size: larger;
}

.error {
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
}


